@model IEnumerable<MVCRestaurant27Tem2022.Models.Reservation>

@{
    ViewBag.Title = "Reservation";
}

<h2>Reservation</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Date Time")
        </th>
        <th>
            @Html.Label("Phone Number")
        </th>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Surname")
        </th>
        <th>
            @Html.Label("Table Number")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rdatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rsurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RTable.id_rtable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_res }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.id_res }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.id_res })
        </td>
    </tr>
}

</table>
