@model IEnumerable<MVCRestaurant27Tem2022.Models.fdType>

@{
    ViewBag.Title = "Menu Category";
}

<h2>Menu Category</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Category")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.typeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_type }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_type }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.id_type })*@
        </td>
    </tr>
}

</table>
