@model IEnumerable<MVCRestaurant27Tem2022.Models.RTable>
<style>
    .intro {
        background-color: yellow;
        width : 90%;
    }
    .deneme {
        color: red;
    }
</style>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table  width =50% >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_rtable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tstatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            <a class="deneme" , href="#">@Html.DisplayFor(modelItem => item.id_rtable)</a>
</td>
        <td>
            @Html.DisplayFor(modelItem => item.tstatus , new {style = "color:red"})
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

@*@for(var i = 10; i < 21; i++)
{
<p>Line @i</p>
}*@
