@model IEnumerable<MVCRestaurant27Tem2022.Models.RTable>
<style>
    .tableStatusMain {
        margin: 1%;
        float: right;
    }

    .tableStatus {
        border-radius: 10%;
        background-color: greenyellow;
        color: red;
        float: left;
        width: 10%;
        padding: 10px;
        height: 100px;
        margin: 1%;
    }
    .tableStatusFree {
        background-color: greenyellow;
    }
    .tableStatusSeated {
        background-color: rgb(42, 0, 181);
    }
    .tableStatusReserved {
        background-color: rgb(235, 158, 52);
    }
</style>
@{ViewBag.Title = "Tables";}
<h2>Table Status</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="tableStatusMain">
    @{int i = 0;}
    @foreach (var item in Model)
    {
        if (Convert.ToString(item.tstatus) == "f")
        {
            <div class="tableStatus tableStatusFree">
                <h1>@Html.DisplayFor(modelItem => item.id_rtable)</h1>
                @Html.ActionLink("Free", "Create")
            </div>
        }
        else if (Convert.ToString(item.tstatus) == "s")
        {
            <div class="tableStatus tableStatusSeated">
                <h1>@Html.DisplayFor(modelItem => item.id_rtable)</h1>
                @Html.ActionLink("Seated", "Create")
            </div>
        }
        else
        {
            <div class="tableStatus tableStatusReserved">
                <h1>@Html.DisplayFor(modelItem => item.id_rtable)</h1>
                @Html.ActionLink("Reserved", "Create")
            </div>
        }
    }
</div>


