@model IEnumerable<MVCRestaurant27Tem2022.Models.ROrderCompleted>

@{
    ViewBag.Title = "Order History";
}

<h2>Order History</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Menu Item")
        </th>
        <th>
            @Html.Label("Bill ID")
        </th>
        <th>
            @Html.Label("Waiter ID")
        </th>
        <th>
            @Html.Label("Date Time")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodDrink.FDname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_bill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_waiter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.odatetime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_order }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_order }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_order })
        </td>
    </tr>
}

</table>
