@model IEnumerable<MVCRestaurant27Tem2022.Models.FoodDrink>
<style>
    body {
        width: 98%;
        margin: auto;
    }

    .contentMain {
        float: left;
    }

    .MenuItemMain {
        margin: 1%;
        float: left;
        width: 100%;
    }

    .MenuItem {
        border-radius: 10%;
        background-color: gainsboro;
        float: left;
        width: 14%;
        padding: 10px;
        height: 100px;
        margin: 1%;
        text-align: center;
        position: relative;
    }
        .MenuItem a {
            color: black;
        }

    @@media only screen and (max-width: 900px) {
        .MenuItem {
            width: 90%;
            /*            margin-left: 2.5%;
            margin-right: 2.5%;*/
            margin-left: 5%;
            margin-right: 5%
        }
    }

    @@media only screen and (min-width: 901px) {
        .MenuItem {
            width: 46%;
            margin-left: 2%;
            margin-right: 2%
        }
    }
    @@media only screen and (min-width: 1150px) {
        .MenuItem {
            width: 30%;
            margin-left: 1.5%;
            margin-right: 1.5%
        }
    }
    @@media only screen and (min-width: 1300px) {
        .MenuItem {
            width: 23%;
            margin-left: 1%;
            margin-right: 1%
        }
    }

    @@media only screen and (min-width: 1900px) {
        .container {
            margin-right: 2%;
            margin-left: 2%;
            width: 96%;
        }
    }

    .MenuItemFree {
        background-color: springgreen;
    }

        .MenuItemFree a {
            /*color:red;*/
            color: lightseagreen;
        }

    .MenuItemSeated a {
        color: midnightblue;
    }

    .MenuItemSeated {
        /*background-color: rgb(42, 0, 181);*/
        background-color: royalblue;
        /*color: black;*/
    }

    .MenuItemReserved {
        background-color: rgb(235, 158, 52);
        color: dimgray;
    }

        .MenuItemReserved a {
            color: dimgray;
        }

    .MenuItemInfo {
        float: left;
        height: 65px;
        margin: 1%;
        padding: 0px;
        min-width: 120px;
    }

    .tableLink {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .ctgrs {
        width:100%;
        height:auto;
        float:left
        

    }
    .spacerctgr {
        width: 100%;
        height: 25px;
        float: left
    }
</style>




<h2>Order (@ViewBag.Title)</h2>

<div class="contentMain">


    @*<div class="MenuItemFree"></div>
        <div>
            <div class="MenuItem MenuItemFree MenuItemInfo">
                <h3><a>Free</a></h3>
            </div>
            <div class="MenuItem MenuItemSeated MenuItemInfo">
                <h3><a>Seated</a></h3>
            </div>
            <div class="MenuItem MenuItemReserved MenuItemInfo">
                <h3><a>Reserved</a></h3>
            </div>*@
</div>
<div class="MenuItemMain">
    @{long ctgr = Convert.ToInt64(Session["typeCount"]);}
    @for (long i = 1; i <= ctgr; i++)
    {
    <div class="ctgrs">

        @{int j = 0;}
        @foreach (var item in Model)
        {

            if (j == 0)
            {
                <div class="spacerctgr"> <h4> @*@item.fdType.typeName*@ Category #@i</h4> </div>
            }
            j++;
            if (item.id_type == i)
            {
                <div class="MenuItem">
                    <h3><a href="@Url.Action( "Create/" + item.id_FD + "/" + Session["Tableid"] , "ROrder")">@Html.DisplayFor(modelItem => item.FDname)<span class="tableLink"></span></a></h3>
                </div>

            }
        }
    </div>
        
    }
    
</div>
<!--<table class="table">
    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Price")
        </th>
        <th>
            @Html.Label("Is in the menu")
        </th>
        <th>-->
@*@Html.DisplayNameFor(model => model.fdType.typeName)*@
<!--@Html.Label("Category")
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FDname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.onmenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fdType.typeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_FD }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_FD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_FD })
        </td>
    </tr>
}

</table>-->
