@model IEnumerable<MVCRestaurant27Tem2022.Models.ROrder>

@{
    ViewBag.Title = "Waiting Orders";
}

<h2>Waiting Orders</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.Label("Date Time")
        </th>
        <th>
            @Html.Label("Waiter")
        </th>
        <th>
            @Html.Label("Menu Item")
        </th>
        <th>
            @Html.Label("Bill No")
        </th>
        <th>
            @Html.Label("Table No")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.odatetime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Waiter.Wnick)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FoodDrink.FDname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bill.id_bill)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bill.id_rtable)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id=item.id_order }) |*@
        @*@Html.ActionLink("Details", "Details", new { id=item.id_order }) |*@
        @Html.ActionLink("Delete", "Delete", new { id = item.id_order }) |
        @Html.ActionLink("Complete", "Complete", new { id = item.id_order })
    </td>
</tr>
}

</table>
