@model IEnumerable<MVCRestaurant27Tem2022.Models.BillCompleted>

@{
    ViewBag.Title = "Bill History";
}

<h2>Bill History</h2>
<table class="table">
    <tr>
        <th>
            @Html.Label("Bill Total")
        </th>
        <th>
            @Html.Label("Date Time")
        </th>
        <th>
            @Html.Label("Table Number")
        </th>
        <th>
            @Html.Label("Waiter Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bsum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bdatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RTable.id_rtable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Waiter.Wnick)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_bill }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.id_bill }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.id_bill })
        </td>
    </tr>
}

</table>
